div.loginContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;

    .loginHeader{

    }

    .loginForm{
        margin-top: 40px;
        form{

            input{
                height: 50px;
                width: 50%;
                font-size: 13px;
                border: 1px solid #dadce0;
                border-radius: 10px;
                padding: 0 20px;
            }

            .emailSection, .passwordSection{
                margin-bottom: 20px;
            }

            .submitSection{
                button{
                    height: 50px;
                    width: 30%;
                    background-color: white;
                    border: 1px solid #dadce0;
                    border-radius: 10px;
                    font-size: 13px;
                    cursor: pointer;
                }

                button:hover{
                    background-color: rgb(174, 203, 250);
                    color: #FFF;
                }
            }
        }
    }
}