div.navbar{
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #DADCE0;

    .userInitials{
        height: 70px;
        width: 70px;
        background-color: blue;
        line-height: 70px;
        text-align: center;
        border-radius: 50%;
    }
}