div.navbar{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #DADCE0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #FFF;

    .rightSection{
        .logoutButton{
            float: left;
            height: 70px;
            width: 70px;
            text-align: center;
            line-height: 70px;
            cursor: pointer;
        }

        .userInitials{
            height: 70px;
            width: 70px;
            line-height: 70px;
            text-align: center;
            // border: 1px solid #000;
            border-radius: 50%;
            float: right;
            margin-right: 30px;
            background-color: rgb(204, 255, 144);
            font-weight: 700;
        }
    }
}